* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}
html ::-webkit-scrollbar-track {
  background-color: #fff;
  opacity: 0;
}
html ::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
html ::-webkit-scrollbar-thumb {
  background: #ced0d1;
}

body {
  display: flex;
  height: 100vh;
  background: linear-gradient(180deg, #eae6df, #d1d7db);
}

#background-green-bar {
  height: 8rem;
  width: 100%;
  background-color: #00a884;
  position: relative;
  padding: 0;
}

#container-hug-back {
  display: flex;
  position: absolute;
  padding: 1.2rem;
  width: 100%;
  height: 100vh;
  border-radius: 3px;
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bdd7cf;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.photo-profile-chat {
  width: 49px;
  height: 49px;
}

.container-profile-photo-chat {
  padding-right: 13px;
}

.pinned-chat {
  width: 20px;
  height: 20px;
}

.fa-volume-xmark {
  margin-right: 6px;
  padding-top: 3px;
}

.fa-angle-down {
  display: none;
  margin: 5px 0 0 5px;
  transition: padding-left 0.3s;
}

.fa-camera,
.fa-video,
.fa-volume-xmark,
.fa-angle-down {
  color: #8696a1;
}

.fa-phone-slash {
  color: #ea0038;
}

.read {
  color: #6ac6ee;
}

.left-bar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
}
.left-bar .profile-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding: 10px 16px;
  height: 60px;
}
.left-bar .container-tools-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}
.left-bar .container-tools-icons i {
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  color: #546570;
}
.left-bar .search-chat-bar {
  display: flex;
  align-items: center;
  padding: 0.4rem 0 0.4rem 0.7rem;
  border-bottom: 1px solid #f1f3f6;
}
.left-bar .container-search-chat {
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 8px;
  background-color: #f0f2f5;
}
.left-bar .container-search-chat .fa-magnifying-glass {
  color: #707e87;
  margin-left: 12px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  padding: 0.5rem;
}
.left-bar .container-search-chat input {
  padding: 0 32px 0 25px;
  height: 35px;
  background-color: #f0f2f5;
  border: 0 none;
  width: 100%;
  border-radius: 8px;
}
.left-bar .container-search-chat input:focus, .left-bar .container-search-chat input select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
.left-bar .container-search-chat input:input::placeholder {
  color: #969a9c;
}
.left-bar .fa-filter {
  color: #a4b0b7;
  margin: 0 auto;
  cursor: pointer;
}
.left-bar .section-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
.left-bar .section-chat .chat-container {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 16px;
  border-bottom: 1px solid #f1f4f5;
  cursor: pointer;
  transition: 0.1s;
}
.left-bar .section-chat .chat-container:hover {
  background-color: #f5f6f6;
}
.left-bar .section-chat .chat-container:hover .fa-angle-down {
  display: inherit;
}
.left-bar .section-chat .chat-container .container-user-info {
  width: 100%;
}
.left-bar .section-chat .chat-container .container-user-info .container-name-time {
  display: flex;
  justify-content: space-between;
}
.left-bar .section-chat .chat-container .container-user-info .container-name-time .user-name {
  font-size: 15px;
  color: #111b21;
}
.left-bar .section-chat .chat-container .container-user-info .container-name-time .time-chat {
  font-size: 12px;
  color: #667781;
}
.left-bar .section-chat .chat-container .container-user-info .msg-content {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
.left-bar .section-chat .chat-container .container-user-info .msg-content .prev-message {
  line-height: 20px;
  font-size: 13px;
  color: #3b4a54;
  padding-top: 3px;
}
.left-bar .section-chat .chat-container .container-user-info .msg-content .msg-icon {
  display: flex;
}
.left-bar .section-chat .chat-container .container-user-info .msg-content .msg-icon .pending-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.5px;
  height: 20.5px;
  border-radius: 50%;
  background-color: #26d366;
}
.left-bar .section-chat .chat-container .container-user-info .msg-content .msg-icon .pending-msg .pending-msg-amount {
  text-align: center;
  color: #fbfefc;
  font-size: 13px;
}
.left-bar .section-chat #chat-selected {
  background: #f0f2f5;
}

.right-content {
  width: 70%;
  background-color: #efeae2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
}
.right-content .selected-chat-bar {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  padding: 10px 16px;
  border-left: 1px solid #d1d7db;
  height: 60px;
}
.right-content .selected-chat-bar #main-chat-photo-profile {
  width: 40px;
  height: 40px;
}
.right-content .selected-chat-bar .container-user-info {
  width: 100%;
  cursor: pointer;
}
.right-content .selected-chat-bar .container-name-status-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.right-content .selected-chat-bar .container-name-status-icons .name-and-status .user-name {
  font-size: 16px;
}
.right-content .selected-chat-bar .container-name-status-icons .name-and-status .user-status {
  font-size: 11px;
  margin-top: 0.5rem;
  color: #93a5b6;
}
.right-content .selected-chat-bar .container-name-status-icons .main-chat-icons {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #5e6e78;
  font-size: 1.1rem;
}
.right-content #id-chat-area::before {
  content: "";
  background-image: url(../img/background_whats.png);
  opacity: 0.06;
  position: fixed;
  height: 78%;
  width: 67.5%;
}
.right-content #id-chat-area {
  height: calc(100% - 122px);
  overflow-y: scroll;
  position: relative;
}
.right-content #id-chat-area .main-chat-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  padding: 0 63px;
  color: #111b21;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
  z-index: 99;
}
.right-content #id-chat-area .main-chat-content .msg-content-container {
  display: flex;
  padding: 6px 7px 4px 9px;
  font-size: 14.2px;
  border-radius: 7.5px;
  margin: 1px 0;
  box-shadow: 0 1px 0.5px rgba(11, 20, 16, 0.13);
}
.right-content #id-chat-area .main-chat-content .msg-content-container .div-blank-chat-time {
  display: inline-block;
}
.right-content #id-chat-area .main-chat-content .msg-content-container .time-chat-content {
  font-size: 0.6875rem;
  text-align: right;
  color: #667781;
}
.right-content #id-chat-area .main-chat-content .msg-content-container .time-chat-content i {
  padding: 0 0 0 0.3rem;
  font-size: 0.8rem;
}
.right-content #id-chat-area .main-chat-content .msg-content-container .msg-chat-content {
  margin-right: 10px;
}
.right-content #id-chat-area .main-chat-content .out {
  align-self: flex-end;
  background-color: #d9fdd3;
}
.right-content #id-chat-area .main-chat-content .in {
  align-self: flex-start;
  background-color: #fff;
}
.right-content #id-chat-area .main-chat-content .msg-bottom {
  margin-bottom: 12px;
}
.right-content .input-msg-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 5px 17px 5px 10px;
  height: 62px;
  background-color: #f0f2f5;
  color: #54656f;
}
.right-content .input-msg-container .emoji-collapse-attach-file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}
.right-content .input-msg-container .emoji-collapse-attach-file .fa-face-laugh {
  margin-right: 8px;
  font-size: 1.5rem;
}
.right-content .input-msg-container .emoji-collapse-attach-file .fa-paperclip {
  padding: 8px;
  font-size: 1.3rem;
}
.right-content .input-msg-container input {
  width: 880px;
  padding: 9px 12px 11px;
  margin: 5px 10px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
}
.right-content .input-msg-container input:focus, .right-content .input-msg-container input select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
.right-content .input-msg-container input::-webkit-input-placeholder {
  line-height: 20px;
  color: linear-gradient(180deg, #b2d3e4, #7790a7);
  font-size: 0.9rem;
  font-weight: 300;
}
.right-content .input-msg-container .fa-microphone {
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
