// general

*
  box-sizing: border-box

html
  font-family: "Open Sans", sans-serif
    // CHAT SCROLL BAR
  ::-webkit-scrollbar-track
    background-color: #fff
    opacity: 0

  ::-webkit-scrollbar
    width: 6px
    background: #F4F4F4

  ::-webkit-scrollbar-thumb
    background: #ced0d1

body
  display: flex
  height: 100vh
  background: linear-gradient(180deg,#eae6df, #d1d7db)

#background-green-bar
  height: 8rem
  width: 100%
  background-color: #00a884
  position: relative
  padding: 0

#container-hug-back
  display: flex
  position: absolute
  padding: 1.2rem
  width: 100%
  height: 100vh
  border-radius: 3px

.photo
  width: 40px
  height: 40px
  border-radius: 50%
  background-color: #bdd7cf
  cursor: pointer
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px

.photo-profile-chat
  width: 49px
  height: 49px

.container-profile-photo-chat
  padding-right: 13px

.pinned-chat
  width: 20px
  height: 20px

.fa-volume-xmark
  margin-right: 6px
  padding-top: 3px

.fa-angle-down
  display: none
  margin: 5px 0 0 5px
  transition: padding-left .3s

.fa-camera,
.fa-video,
.fa-volume-xmark,
.fa-angle-down
  color: #8696a1

.fa-phone-slash
  color: #ea0038

.read
  color: #6ac6ee

// left section

.left-bar
  display: flex
  flex-direction: column
  background-color: #fff
  width: 30%
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px

  // PROFILE SESSION
  .profile-bar
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #f0f2f5
    padding: 10px 16px
    height: 60px

  .container-tools-icons
    display: flex
    align-items: center
    justify-content: space-between
    width: 140px

    i
      cursor: pointer
      font-size: 1.2rem
      text-align: center
      width: 40px
      height: 40px
      padding: 8px
      color: #546570

  // SEARCHING SESSION
  .search-chat-bar
    display: flex
    align-items: center
    padding: .4rem 0 0.4rem 0.7rem
    border-bottom: 1px solid #f1f3f6

  .container-search-chat
    display: flex
    align-items: center
    width: 90%
    border-radius: 8px
    background-color: #f0f2f5

    .fa-magnifying-glass
      color: #707e87
      margin-left: 12px
      text-align: center
      font-size: 13px
      cursor: pointer
      padding: .5rem

    input
      padding: 0 32px 0 25px
      height: 35px
      background-color: #f0f2f5
      border: 0 none
      width: 100%
      border-radius: 8px
      &:focus, select:focus
        box-shadow: 0 0 0 0
        border: 0 none
        outline: 0
      &:input::placeholder
        color: #969a9c

  .fa-filter
    color: #a4b0b7
    margin: 0 auto
    cursor: pointer

  // CHAT SESSION
  .section-chat
    display: flex
    flex-direction: column
    height: 100%
    overflow-y: scroll

    .chat-container
      display: flex
      align-items: center
      text-align: center
      padding: 10px 16px
      border-bottom: 1px solid #f1f4f5
      cursor: pointer
      transition: .1s

      &:hover
        background-color: #f5f6f6
        .fa-angle-down
          display: inherit

      .container-user-info
        width: 100%

        .container-name-time
          display: flex
          justify-content: space-between

          .user-name
            font-size: 15px
            color: #111b21

          .time-chat
            font-size: 12px
            color: #667781

        .msg-content
          display: flex
          justify-content: space-between
          margin-top: 3px

          .prev-message
            line-height: 20px
            font-size: 13px
            color: #3b4a54
            padding-top: 3px

          .msg-icon
            display: flex

            .pending-msg
              display: flex
              justify-content: center
              align-items: center
              width: 20.5px
              height: 20.5px
              border-radius: 50%
              background-color: #26d366

              .pending-msg-amount
                text-align: center
                color: #fbfefc
                font-size: 13px
    #chat-selected
      background: #f0f2f5

// MAIN SESSION

.right-content
  width: 70%
  background-color: #efeae2
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px

  // BAR USER SELECTED
  .selected-chat-bar
    display: flex
    align-items: center
    background-color: #f0f2f5
    padding: 10px 16px
    border-left: 1px solid #d1d7db
    height: 60px

    #main-chat-photo-profile
      width: 40px
      height: 40px

    .container-user-info
      width: 100%
      cursor: pointer

    .container-name-status-icons
      display: flex
      width: 100%
      justify-content: space-between
      align-items: center

      .name-and-status
        .user-name
          font-size: 16px

        .user-status
          font-size: 11px
          margin-top: 0.5rem
          color: #93a5b6

      .main-chat-icons
        width: 10%
        display: flex
        flex-direction: row
        justify-content: space-around
        color: #5e6e78
        font-size: 1.1rem

  // CHAT AREA

  #id-chat-area::before
    content: ""
    background-image: url(../img/background_whats.png)
    opacity: 0.06
    position: fixed
    height: 78%
    width: 67.5%

  #id-chat-area
    height: calc( 100% - 122px )
    overflow-y: scroll
    position: relative

    .main-chat-content
      display: flex
      flex-direction: column
      width: 100%
      bottom: 0
      padding: 0 63px
      color: #111b21
      height: auto
      margin-bottom: 1rem
      position: relative
      z-index: 99

      .msg-content-container
        display: flex
        padding: 6px 7px 4px 9px
        font-size: 14.2px
        border-radius: 7.5px
        margin: 1px 0
        box-shadow: 0 1px .5px rgba(11,20,16,.13)

        .div-blank-chat-time
          display: inline-block

        .time-chat-content
          font-size: .6875rem
          text-align: right
          color: #667781

          i
            padding: 0 0 0 .3rem
            font-size: .8rem

        .msg-chat-content
          margin-right: 10px

      .out
        align-self: flex-end
        background-color: #d9fdd3

      .in
        align-self: flex-start
        background-color: #fff

      .msg-bottom
        margin-bottom: 12px

  // INPUT MSG BAR
  .input-msg-container
    display: flex
    align-items: center
    justify-content: space-around
    width: 100%
    padding: 5px 17px 5px 10px
    height: 62px
    background-color: #f0f2f5
    color: #54656f

    .emoji-collapse-attach-file
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      padding: 5px 10px
      cursor: pointer

      .fa-face-laugh
        margin-right: 8px
        font-size: 1.5rem

      .fa-paperclip
        padding: 8px
        font-size: 1.3rem

    input
      width: 880px
      padding: 9px 12px 11px
      margin: 5px 10px
      line-height: 20px
      background-color: #fff
      border-radius: 8px
      border: 1px solid #fff
      &:focus, select:focus
        box-shadow: 0 0 0 0
        border: 0 none
        outline: 0
      &::-webkit-input-placeholder
        line-height: 20px
        color: linear-gradient(180deg,#b2d3e4, #7790a7)
        font-size: .9rem
        font-weight: 300

    .fa-microphone
      padding: 5px 10px
      font-size: 1.3rem
      cursor: pointer
